@import url(./reset.css);

header {
  height: var(--line-height);
  overflow: hidden;
  background-color: var(--app-red);
  width: 100%;
}

.title {
  width: 30%;
  display: grid;
  place-items: center;
  justify-content: left;
}

.title img {
  height: auto;
  width: 100px;
}

header nav {
  width: 70%;
  text-align: right;
}

header nav ul {
  list-style: none;
}

nav ul li{ 
  display: inline;
  line-height: var(--line-height);
  cursor: default;
}

header nav ul li a {
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

header nav ul li a:hover {
  text-decoration: underline #fff;
}

nav ul li + li {
  margin-left: 18px;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1.8rem;
}

.button-wrapper {
  display: grid;
  margin: .8rem 0;
  grid-template-columns: repeat(2, auto);
}

.options {
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-items: center;
  justify-content: right;
  gap: .6rem;
}

select, option{
  cursor: pointer;
}

.pokedex-title{
  display: grid;
  place-items: center;
  justify-content: left;
}

.filter {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--app-light-bg);
}

.create-btn {
  padding: 8px 16px;
  font-size: 16px;
  background-color: var(--app-red);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pokemon {
  background-color: #f0f0f0;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: grid;
  justify-content: center;
  place-items: center;
  margin: 1rem 0;
  cursor: pointer;
  transition: transform 0.2s;
}

.pokemon:hover {
  transform: scale(1.03);
}

.pokemon img {
  max-width: 100%;
  max-height: 100px; 
  object-fit: contain;
}

.pokemon h2 {
  font-size: 1.5rem;
  color: #333;
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: none;

}

.pokemon .flexbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.pokemon p {
  font-size: 0.9rem;
  color: #000;
  text-align: center;
  margin: 0.25rem 0.5rem;
  background-color: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: 2rem;
  font-weight: 500;
}


.pokemon a {
  display: grid;
  justify-content: center;
  place-items: center;
  text-decoration: none;
}

.details {
  min-height: calc(100vh - 147px);
  display: grid;
  place-items: center;
  background-color: #f2f2f2;
}

.details-pokemon {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  animation: fadeInMoveIn .8s ease-out forwards;
}

.details-pokemon img {
  width: 100%;
  max-width: 300px;
  object-fit: contain;
  border-radius: 15px;
}

.details-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details-text h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.details-text p {
  font-size: 1.25rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.details-text a {
  align-self: flex-start;
  background-color: #f44336;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.details-text a:hover {
  background-color: #d32f2f;
}


footer{
  background-color:  #d1d1d1;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.footer-nav {
  display: grid;
  justify-content: right;
  text-align: right;
}

.copyright-wrapper{ 
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: left;
}
.copyright-wrapper p {
  font-size: 14px;

}

.footer-nav ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
  list-style: none;
}

.footer-nav ul li {
  display: inline;
  cursor: default;
}

.footer-nav ul li a {
  font-size: 14px;
  letter-spacing: 1px;
  color: #000;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}


.footer-nav ul li + li {
  margin-left: 10px;
}

.loader{
  display: block;
  height: 150px;
  width: 150px;
  -webkit-animation: spin 1.5s linear infinite; 
  animation: spin 1.5s linear infinite;
}

@media(max-width: 720px){
  .details-pokemon{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(2, auto);
  }

  .details-text{
    justify-content: center;
    place-items: center;
  }

  .catalog {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  nav ul li a {
    font-size: 1rem;
  }
  
  .catalog {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .button-wrapper {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }

  .pokedex-title{
    justify-content: center;
  }
}

@media(max-width: 472px){
  .catalog {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
  header nav ul li a {
    font-size: .85rem;
  }
  .copyright-wrapper p {
    font-size: 1rem;
  }
  .footer-nav ul li a {
    font-size: .7rem;
  }
}


@keyframes spin {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg); 
  }
}

@keyframes fadeInMoveIn {
  0% {
    opacity: 0;
    transform: translatey(-20px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}
